In [37]:
# Import packages
import pandas as pd

# Replace 'your_file.xlsx' with the actual file path or URL
file_path = 'data\Characteristics of Retirees.xlsx'

# Read the Excel file into a DataFrame and skip the first row
retirement_characteristics = pd.read_excel(file_path, skiprows=0)

columns_to_keep = [0, 1, 2, 3, 4, 5, 8, 11, 14, 17, 20, 23]
new_header = ["Year", "Population of Interest", "Sex", "Classification", "Category", "54 Years & Under (people in thousands)", "55-59 Years(people in thousands)", "60-64 Years (people in thousands)", "65-69 Years (people in thousands)", "70 Years & Over (people in thousands)", "Total (thousands)", "Years"]

# Use iloc to select only the specified columns and assign the new header
retirement_characteristics = retirement_characteristics.iloc[:, columns_to_keep]
retirement_characteristics.columns = new_header

raw_data = pd.DataFrame(retirement_characteristics)

# Display the resulting DataFrame

raw_data.head()

,Year,Population of Interest,Sex,Classification,Category,54 Years & Under (people in thousands),55-59 Years(people in thousands),60-64 Years (people in thousands),65-69 Years (people in thousands),70 Years & Over (people in thousands),Total (thousands),Years
0,2014-15,People aged 45 years and over,Persons,Age group,45 – 49 years,113.230,0.000,0.000,0.000,0.0,113.230,37.041
1,2014-15,People aged 45 years and over,Persons,Age group,50 – 54 years,167.085,0.000,0.000,0.000,0.0,167.085,42.511
2,2014-15,People aged 45 years and over,Persons,Age group,55 – 59 years,192.581,64.135,0.000,0.000,0.0,256.716,47.377
3,2014-15,People aged 45 years and over,Persons,Age group,60 – 64 years,195.010,152.094,96.353,0.000,0.0,443.457,52.206
4,2014-15,People aged 45 years and over,Persons,Age group,65 – 69 years,207.810,168.924,212.248,132.877,0.0,721.859,56.574

In [38]:
categories = set()

for index, row in raw_data.iterrows():
    if row['Category'] not in categories:
        categories.add(row['Category'])

categories

{'      With dependants',
 '      Without dependants',
 '   Arrived 10 - 19 years ago',
 '   Arrived 20 - 29 years ago',
 '   Arrived 30 - 39 years ago',
 '   Arrived 40 - 49 years ago',
 '   Arrived 50 or more years ago',
 '   Arrived less than 10 years ago',
 '   Husband, wife or partner',
 '   Lone parent',
 '   Non-dependent child',
 '   Other relative',
 '   Person living alone',
 '   Person living with non-relatives',
 '$1 - $200',
 '$1,000 - $1,250',
 '$1,000 - $2,000',
 '$1,250 - $1,500',
 '$1,500 - $2,000',
 '$2,000 or more',
 '$200 - $400',
 '$400 - $600',
 '$600 - $800',
 '$800 - $1,000',
 '45 – 49 years',
 '50 – 54 years',
 '55 – 59 years',
 '60 – 64 years',
 '65 – 69 years',
 '70 years and over',
 'Australian Capital Territory',
 'Born in Australia',
 'Born overseas',
 'Excellent',
 'Fair',
 'Family member',
 'Good',
 'New South Wales',
 'No income (or negative income)',
 'No partner',
 'Northern Territory',
 'Not in a family',
 'Not stated',
 'Poor',
 'Queensland',
 'Retired 10 - 14 years ago',
 'Retired 15 - 19 years ago',
 'Retired 20 - 24 years ago',
 'Retired 25 or more years ago',
 'Retired 5 - 9 years ago',
 'Retired less than 5 years ago',
 'South Australia',
 'TOTAL',
 'Tasmania',
 'Very good',
 'Victoria',
 'Western Australia',
 nan}

In [39]:
tidied_retirement_df = []

for index, row in raw_data.iterrows():
    if row['Category'] != 'TOTAL':
        tidied_retirement_df.append(row)

tidied_retirement_df = pd.DataFrame(tidied_retirement_df)
tidied_retirement_df

,Year,Population of Interest,Sex,Classification,Category,54 Years & Under (people in thousands),55-59 Years(people in thousands),60-64 Years (people in thousands),65-69 Years (people in thousands),70 Years & Over (people in thousands),Total (thousands),Years
0,2014-15,People aged 45 years and over,Persons,Age group,45 – 49 years,113.230,0.000,0.000,0.000,0.000,113.230,37.041
1,2014-15,People aged 45 years and over,Persons,Age group,50 – 54 years,167.085,0.000,0.000,0.000,0.000,167.085,42.511
2,2014-15,People aged 45 years and over,Persons,Age group,55 – 59 years,192.581,64.135,0.000,0.000,0.000,256.716,47.377
3,2014-15,People aged 45 years and over,Persons,Age group,60 – 64 years,195.010,152.094,96.353,0.000,0.000,443.457,52.206
4,2014-15,People aged 45 years and over,Persons,Age group,65 – 69 years,207.810,168.924,212.248,132.877,0.000,721.859,56.574
...,...,...,...,...,...,...,...,...,...,...,...,...
27356,2020-21,People without a long-term health condition,Females,Weekly household income from all sources,"$1,500 - $2,000",4.346,4.760,3.970,0.000,2.254,15.330,55.989
27357,2020-21,People without a long-term health condition,Females,Weekly household income from all sources,"$2,000 or more",27.466,7.320,6.503,3.468,0.000,44.756,50.565
27358,2020-21,People without a long-term health condition,Females,Weekly household income from all sources,Not stated,56.322,21.633,26.857,11.176,3.256,119.244,52.321
27360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27361,© Commonwealth of Australia 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN