In [87]:
# Import packages
import pandas as pd

# Replace 'your_file.xlsx' with the actual file path or URL
file_path = 'data\Characteristics of Retirees.xlsx'

# Read the Excel file into a DataFrame and skip the first row
retirement_characteristics = pd.read_excel(file_path)

columns_to_keep = [0, 1, 2, 3, 4, 5, 8, 11, 14, 17, 20, 23]
new_header = ["Year", "Population of Interest", "Sex", "Classification", "Category", "Retired Age 54 & Under (people in thousands)", "Retired Age 55-59 (people in thousands)", "Retired Age 60-64 (people in thousands)", "Retired Age 65-69 (people in thousands)", "Retired Age 70 & Over (people in thousands)", "Total Retirees (thousands)", "Years"]

# Use iloc to select only the specified columns and assign the new header
retirement_characteristics = retirement_characteristics.iloc[:, columns_to_keep]
retirement_characteristics.columns = new_header

raw_data = pd.DataFrame(retirement_characteristics)

# Display the resulting DataFrame

raw_data.head()

,Year,Population of Interest,Sex,Classification,Category,Retired Age 54 & Under (people in thousands),Retired Age 55-59 (people in thousands),Retired Age 60-64 (people in thousands),Retired Age 65-69 (people in thousands),Retired Age 70 & Over (people in thousands),Total Retirees (thousands),Years
0,2014-15,People aged 45 years and over,Persons,Age group,45 – 49 years,113.230,0.000,0.000,0.000,0.0,113.230,37.041
1,2014-15,People aged 45 years and over,Persons,Age group,50 – 54 years,167.085,0.000,0.000,0.000,0.0,167.085,42.511
2,2014-15,People aged 45 years and over,Persons,Age group,55 – 59 years,192.581,64.135,0.000,0.000,0.0,256.716,47.377
3,2014-15,People aged 45 years and over,Persons,Age group,60 – 64 years,195.010,152.094,96.353,0.000,0.0,443.457,52.206
4,2014-15,People aged 45 years and over,Persons,Age group,65 – 69 years,207.810,168.924,212.248,132.877,0.0,721.859,56.574

In [93]:
categories = raw_data['Category'].unique()
classification = raw_data['Classification'].unique()
pop_interest = raw_data['Population of Interest'].unique()
year = raw_data['Year'].unique()

categories = list(categories)
classification = list(classification)
pop_interest = list(pop_interest)
year = list(year)

In [89]:
#Take out the rows containing the totals to prevent compromising the data
tidied_retirement_df = []

for index, row in raw_data.iterrows():
    if row['Category'] != 'TOTAL':
        tidied_retirement_df.append(row)

tidied_retirement_df = pd.DataFrame(tidied_retirement_df)
tidied_retirement_df.head(10)

,Year,Population of Interest,Sex,Classification,Category,Retired Age 54 & Under (people in thousands),Retired Age 55-59 (people in thousands),Retired Age 60-64 (people in thousands),Retired Age 65-69 (people in thousands),Retired Age 70 & Over (people in thousands),Total Retirees (thousands),Years
0,2014-15,People aged 45 years and over,Persons,Age group,45 – 49 years,113.230,0.000,0.000,0.000,0.000,113.230,37.041
1,2014-15,People aged 45 years and over,Persons,Age group,50 – 54 years,167.085,0.000,0.000,0.000,0.000,167.085,42.511
2,2014-15,People aged 45 years and over,Persons,Age group,55 – 59 years,192.581,64.135,0.000,0.000,0.000,256.716,47.377
3,2014-15,People aged 45 years and over,Persons,Age group,60 – 64 years,195.010,152.094,96.353,0.000,0.000,443.457,52.206
4,2014-15,People aged 45 years and over,Persons,Age group,65 – 69 years,207.810,168.924,212.248,132.877,0.000,721.859,56.574
5,2014-15,People aged 45 years and over,Persons,Age group,70 years and over,480.844,345.741,430.158,277.614,176.255,1710.612,57.157
6,2014-15,People aged 45 years and over,Persons,State or Territory,New South Wales,424.758,237.721,276.070,142.781,61.621,1142.952,55.259
7,2014-15,People aged 45 years and over,Persons,State or Territory,Victoria,331.770,167.466,177.128,90.461,48.051,814.876,54.009
8,2014-15,People aged 45 years and over,Persons,State or Territory,Queensland,286.462,162.983,125.334,80.785,36.093,691.657,53.217
9,2014-15,People aged 45 years and over,Persons,State or Territory,South Australia,128.009,67.880,58.434,37.517,6.704,298.542,53.352

In [90]:
#Remove gender specific data as 'Persons' is the total of 'Male' & 'Female' data
generalised_df = []

for index, row in tidied_retirement_df.iterrows():
    if row['Sex'] == 'Persons':
        generalised_df.append(row)

generalised_df = pd.DataFrame(generalised_df)

#Remove 'Sex' column as it is no longer necessary
generalised_df = generalised_df.drop(['Sex'], axis=1)
generalised_df

,Year,Population of Interest,Classification,Category,Retired Age 54 & Under (people in thousands),Retired Age 55-59 (people in thousands),Retired Age 60-64 (people in thousands),Retired Age 65-69 (people in thousands),Retired Age 70 & Over (people in thousands),Total Retirees (thousands),Years
0,2014-15,People aged 45 years and over,Age group,45 – 49 years,113.230,0.000,0.000,0.000,0.000,113.230,37.041
1,2014-15,People aged 45 years and over,Age group,50 – 54 years,167.085,0.000,0.000,0.000,0.000,167.085,42.511
2,2014-15,People aged 45 years and over,Age group,55 – 59 years,192.581,64.135,0.000,0.000,0.000,256.716,47.377
3,2014-15,People aged 45 years and over,Age group,60 – 64 years,195.010,152.094,96.353,0.000,0.000,443.457,52.206
4,2014-15,People aged 45 years and over,Age group,65 – 69 years,207.810,168.924,212.248,132.877,0.000,721.859,56.574
...,...,...,...,...,...,...,...,...,...,...,...
27202,2020-21,People without a long-term health condition,Weekly household income from all sources,"$1,000 - $1,250",12.456,14.307,11.149,8.919,5.534,52.365,58.810
27203,2020-21,People without a long-term health condition,Weekly household income from all sources,"$1,250 - $1,500",2.454,6.193,5.888,8.090,0.000,22.624,60.462
27204,2020-21,People without a long-term health condition,Weekly household income from all sources,"$1,500 - $2,000",7.665,7.941,14.395,0.733,2.539,33.273,58.071
27205,2020-21,People without a long-term health condition,Weekly household income from all sources,"$2,000 or more",38.573,13.714,10.310,7.654,0.000,70.251,52.732
27206,2020-21,People without a long-term health condition,Weekly household income from all sources,Not stated,67.601,28.233,45.362,26.507,8.880,176.583,55.112

In [91]:
personal_income_statistics = []

for index, row in generalised_df.iterrows():
    if row['Classification'] == 'Weekly personal income from all sources':
        personal_income_statistics.append(row)

personal_income_statistics = pd.DataFrame(personal_income_statistics)
personal_income_statistics

,Year,Population of Interest,Classification,Category,Retired Age 54 & Under (people in thousands),Retired Age 55-59 (people in thousands),Retired Age 60-64 (people in thousands),Retired Age 65-69 (people in thousands),Retired Age 70 & Over (people in thousands),Total Retirees (thousands),Years
45,2014-15,People aged 45 years and over,Weekly personal income from all sources,No income (or negative income),108.362,64.315,28.432,12.465,5.509,219.083,51.741
46,2014-15,People aged 45 years and over,Weekly personal income from all sources,$1 - $200,83.514,38.928,39.923,12.906,10.725,185.995,53.104
47,2014-15,People aged 45 years and over,Weekly personal income from all sources,$200 - $400,496.104,210.342,242.215,135.492,57.937,1142.090,53.582
48,2014-15,People aged 45 years and over,Weekly personal income from all sources,$400 - $600,361.492,155.426,205.432,122.738,44.752,889.840,54.331
49,2014-15,People aged 45 years and over,Weekly personal income from all sources,$600 - $800,50.608,46.885,32.851,26.818,11.826,168.988,55.949
...,...,...,...,...,...,...,...,...,...,...,...
27181,2020-21,People without a long-term health condition,Weekly personal income from all sources,$600 - $800,8.118,10.147,7.384,7.009,1.348,34.006,57.642
27182,2020-21,People without a long-term health condition,Weekly personal income from all sources,"$800 - $1,000",14.980,4.688,8.245,1.212,2.208,31.333,57.946
27183,2020-21,People without a long-term health condition,Weekly personal income from all sources,"$1,000 - $2,000",7.640,10.582,16.407,2.628,2.353,39.610,57.861
27184,2020-21,People without a long-term health condition,Weekly personal income from all sources,"$2,000 or more",1.933,4.957,1.589,0.502,2.489,11.470,59.874
27185,2020-21,People without a long-term health condition,Weekly personal income from all sources,Not stated,23.100,21.723,24.768,19.532,2.432,91.555,57.846

In [92]:
age_compare = [4,5,6,7,8]
income_categories = [
 '$1 - $200',
 '$200 - $400',
 '$400 - $600',
 '$600 - $800',
 '$800 - $1,000',
 '$1,000 - $2,000',
 '$2,000 or more',
 'No income (or negative income)',
 'Not stated',
]

grouped_income_statistics = personal_income_statistics.iloc[:, [3] + age_compare].groupby('Category').median()
personal_grouped_income_statistics = grouped_income_statistics.sort_index(ascending=True, key=lambda x: pd.Categorical(x, categories=income_categories, ordered=True))
personal_grouped_income_statistics

,Retired Age 54 & Under (people in thousands),Retired Age 55-59 (people in thousands),Retired Age 60-64 (people in thousands),Retired Age 65-69 (people in thousands),Retired Age 70 & Over (people in thousands)
Category,,,,,
$1 - $200,16.3175,7.2995,11.8495,4.6925,1.0580
$200 - $400,93.9460,42.2745,46.0835,32.5405,7.5830
$400 - $600,97.0205,40.0110,46.7845,37.0195,8.7080
$600 - $800,14.0935,10.5330,14.0685,9.9770,1.8970
"$800 - $1,000",9.0540,7.2790,9.6560,5.1870,1.3645
"$1,000 - $2,000",11.3065,12.6360,14.5990,5.9840,1.8725
"$2,000 or more",1.9200,2.1930,2.3830,0.4845,0.0000
No income (or negative income),28.0175,13.5915,10.5085,4.0815,0.8650
Not stated,34.9565,21.4625,25.0640,17.5030,5.2470